---
layout: page
---

<p>
Welcome to the {{site.title}}, a site for sharing and distributing information on soil organic matter research. 
Use the links below to obtain information on specific topics. 
</p>



<h1>Soil carbon within the global C cycle</h1>

{% for post in paginator.posts %}
{% if post.category == "Global-Context" %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h3 class="post-subtitle">            {{ post.title }}
        </h3>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %} 
    </a>
    <p class="post-meta" style="margin-bottom:5px">Posted by {{ post.author }} on {{ post.date | date: "%B %-d, %Y" }}</p>
</div>
<hr>
{% endif %}
{% endfor %}


<h1> Primary controls on soil carbon development </h1>
 <h2> Climate controls </h2>
  <h3> Climate and soil development, geomorphology </h3>
  <h3>Climate and plant distribution </h3>
  <h3>Global carbon modeling </h3> 
 <h2> Biotic controls </h2>
  <h3>Carbon fixation, partitioning, and allocation </h3>
  <h3> Soil ecosystems </h3>
  <h3> Microbial control of carbon flow </h3>

<h1> Secondary controls on carbon turnover </h1>
 <h2> Conceptual framework </h2>
 <h2> Stabilization mechanisms </h2>
  <h3> Physical protection of organic matter in aggregates </h3>
  <h3> Mineral association </h3> 
  <h3> Accessibility to microbes </h3>

<h1> Quantitative methods </h1>
 <h2> Chemical characterization of SOM (spectral analyses) </h2>
 <h2> Isotopic characterization of SOM </h2>
 <h2> Fractionation of SOM (biological, chemical, physical) </h2>

<h1> Scientific Process </h1>
 <h2> Scientific Process </h2>
  <h3> Scientific Method and hypothesis testing </h3>
  <h3> Big data - how it can be used to solve problems </h3>
  <h3> Observations and SOM theory </h3>
  <h3> Partitioning of SOM stocks (methods, models, theory) </h3>
  <h3> Models of SOM dynamics </h3>

<h1> Problem-based questions - case studies </h1>
 <h2> Capacity </h2>
  <h3> SOM storage capacity, carbon saturation </h3>
 <h2> Change </h2>
  <h3> Drivers of change in SOM stocks - loss and gains </h3>
 <h2> Soil health </h2>
  <h3> Soil C contribution to soil health and climate change mitigation </h3>






<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}


